
<div class="hero-head">
  <div class="tabs is-fullwidth is-large is-teal">
    <ul>
      <li>
        <a class="has-no-border">
          <img src="/assets/img/icons/Filter.svg" height="32" width="32">
        </a>
      </li>
      <li>
        <a class="has-no-border">
          <img src="/assets/img/finder_logo_small.png" height="32">
        </a>
      </li>
      <li>
        <a class="has-no-border">
          <img class="rounded" src="/assets/img/handy_mandy.jpg" height="32" width="32">
        </a>
      </li>
    </ul>
  </div>
</div>
