
<div class="hero-head">
  <nav class="level is-mobile">
    <p class="level-item has-text-centered">
      <a class="link is-info">
        <img src="/assets/img/icons/Filter.svg" height="24px" width="24px">
      </a>
    </p>
    <p class="level-item has-text-centered">
      <img src="/assets/img/finder_logo_small.png" alt="" style="height: 24px;">
    </p>
    <p class="level-item has-text-centered">
      <img class="rounded" src="/assets/img/handy_mandy.jpg" height="24px" width="24px">
    </p>
  </nav>
</div>
