<div class="hero-foot">
  <div class="tabs is-fullwidth is-large" style="margin-bottom: 0px;">
    <ul>
      <li>
        <a (click)="goToDetails()" class="has-no-border">
          <img src="/assets/img/icons/pfeilunten.svg" height="32">
        </a>
      </li>
    </ul>
  </div>
  <div class="tabs is-fullwidth is-teal is-large">
    <ul>
      <li class="is-active">
        <a class="has-no-border">
          <img src="/assets/img/icons/Home.svg" height="32" width="32">
        </a>
      </li>
      <li>
        <a class="has-no-border">
          <img src="/assets/img/icons/Share.svg" height="32" width="32">
        </a>
      </li>
      <li>
        <a class="has-no-border">
          <img src="/assets/img/icons/more.svg" height="32" width="32">
        </a>
      </li>
    </ul>
  </div>
</div>
