.hero {
    background-color: #1D272E;
}

.level {
    height: 50px;
    background-color: #1D272E;
    padding: 5px;
}

.level {
    background-color: #1D272E;
}

.title {
    color: white;
}

.subtitle {
    color: white;
}